/* line 1, cv.scss */
.timeline, line {
  stroke: #333;
}

/* line 4, cv.scss */
#maintitle {
  float: left;
}

/* line 7, cv.scss */
#nav {
  float: right;
  margin: 15px;
}
/* line 10, cv.scss */
#nav a {
  color: #666;
  font-variant: small-caps;
  font-size: 18px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px dotted #333;
  display: block;
  float: right;
}
/* line 19, cv.scss */
#nav a.last {
  border-left-width: 0px;
}

/* line 25, cv.scss */
.htext {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  padding: 0 5px;
  margin: 0 -5px;
}

/* line 34, cv.scss */
line.eso {
  stroke: #aaa;
}
/* line 37, cv.scss */
line.bachiller {
  stroke: #666;
}
/* line 40, cv.scss */
line.uni {
  stroke: #222;
}
/* line 43, cv.scss */
line.html {
  stroke: #23819c;
}
/* line 44, cv.scss */
line.js {
  stroke: #23819c;
}
/* line 45, cv.scss */
line.php {
  stroke: #23819c;
}
/* line 46, cv.scss */
line.flash {
  stroke: #23819c;
}
/* line 47, cv.scss */
line.vb {
  stroke: #23819c;
}
/* line 48, cv.scss */
line.java {
  stroke: #23819c;
}
/* line 49, cv.scss */
line.bash {
  stroke: #23819c;
}
/* line 50, cv.scss */
line.python {
  stroke: #23819c;
}

/* line 53, cv.scss */
text {
  fill: #333;
}
/* line 55, cv.scss */
text.eso {
  fill: #aaa;
}
/* line 58, cv.scss */
text.bachiller {
  fill: #666;
}
/* line 61, cv.scss */
text.uni {
  fill: #222;
}
/* line 64, cv.scss */
text.html {
  fill: #23819c;
}
/* line 65, cv.scss */
text.js {
  fill: #23819c;
}
/* line 66, cv.scss */
text.php {
  fill: #23819c;
}
/* line 67, cv.scss */
text.flash {
  fill: #23819c;
}
/* line 68, cv.scss */
text.vb {
  fill: #23819c;
}
/* line 69, cv.scss */
text.java {
  fill: #23819c;
}
/* line 70, cv.scss */
text.bash {
  fill: #23819c;
}
/* line 71, cv.scss */
text.python {
  fill: #23819c;
}

/* line 73, cv.scss */
body {
  color: #333;
}

/* line 76, cv.scss */
.tlinline {
  font-size: 12px;
}

/* line 79, cv.scss */
.metter {
  border: 1px solid #ccc;
  width: 50px;
  height: 4px;
  margin: 5px 0 0 10px;
  float: right;
}
/* line 83, cv.scss */
.metter > .metter-inner {
  height: 4px;
  background-color: #333;
}

/* line 90, cv.scss */
.itemdata {
  margin: 5px 0 0 10px;
  float: right;
}

/* line 94, cv.scss */
.itemname {
  float: left;
}

/* line 97, cv.scss */
.clearfix {
  clear: both;
  height: 1px;
}

/* line 101, cv.scss */
.item {
  clear: both;
  margin: 10px;
}

/* line 105, cv.scss */
.item.title {
  margin: 4px 10px 0px 25px;
}

/* line 109, cv.scss */
#arem {
  -moz-column-width: 350px;
  -moz-column-gap: 10px;
  -webkit-column-width: 350px;
  -webkit-column-gap: 10px;
  column-width: 350px;
  column-gap: 10px;
}

/* line 117, cv.scss */
#timeline {
  position: relative;
}

/* line 121, cv.scss */
#fotter {
  color: #999;
  border-top: 1px solid #666;
  margin: 1em 2em 3em 2em;
  padding: .5em 0 0 1em;
}
/* line 126, cv.scss */
#fotter a {
  color: #999;
  border-bottom: 1px dotted #ccc;
}

/* line 132, cv.scss */
.accessibletxt {
  position: absolute;
  width: 300px;
  color: #333;
}
/* line 135, cv.scss */
.accessibletxt.middle {
  text-align: center;
}
/* line 138, cv.scss */
.accessibletxt.end {
  text-align: right;
}
/* line 142, cv.scss */
.accessibletxt.eso {
  color: #aaa;
}
/* line 145, cv.scss */
.accessibletxt.bachiller {
  color: #666;
}
/* line 148, cv.scss */
.accessibletxt.uni {
  color: #222;
}
/* line 151, cv.scss */
.accessibletxt.html {
  color: #23819c;
}
/* line 152, cv.scss */
.accessibletxt.js {
  color: #23819c;
}
/* line 153, cv.scss */
.accessibletxt.php {
  color: #23819c;
}
/* line 154, cv.scss */
.accessibletxt.flash {
  color: #23819c;
}
/* line 155, cv.scss */
.accessibletxt.vb {
  color: #23819c;
}
/* line 156, cv.scss */
.accessibletxt.java {
  color: #23819c;
}
/* line 157, cv.scss */
.accessibletxt.bash {
  color: #23819c;
}
/* line 158, cv.scss */
.accessibletxt.python {
  color: #23819c;
}
