/* line 9, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 18, _reset.scss */
body {
  line-height: 1;
}

/* line 21, _reset.scss */
blockquote, q {
  quotes: none;
}

/* line 25, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 31, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, global.scss */
body {
  font-family: 'Ubuntu', arial, sans;
}

/* line 7, global.scss */
h1, h2 {
  font-family: 'Droid Serif', serif;
  font-style: italic;
}

/* line 11, global.scss */
h1 {
  font-size: 1.6em;
  margin: 0.4em 0 1.2em 10px;
}

/* line 16, global.scss */
a {
  text-decoration: none;
}

/* line 20, global.scss */
#header, #header-mask, .header-banner {
  width: 960px;
  height: 435px;
}

/* line 25, global.scss */
#header:hover #flecha-izq, #header:hover #flecha-der {
  display: block;
}

/* line 30, global.scss */
#flecha-izq, #flecha-der {
  background: no-repeat url(img/arrows.png);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 200px;
  left: 15px;
  z-index: 100;
  display: none;
  cursor: pointer;
}

/* line 41, global.scss */
#flecha-der {
  left: 910px;
  background-position: -30px 0;
}

/* line 46, global.scss */
#wrapper {
  width: 940px;
  margin: 0 auto;
}

/* line 51, global.scss */
#twitter {
  width: 350px;
  float: left;
  margin-top: -10px;
  position: relative;
  z-index: 10;
}

/* line 58, global.scss */
#twitter-header {
  background: no-repeat url(img/twitter-header.png);
  width: 350px;
  height: 54px;
  padding-top: 35px;
  margin-bottom: 5px;
}

/* line 65, global.scss */
#twitter-header-text {
  color: #fff;
  margin-left: 125px;
  font-size: 25px;
}

/* line 70, global.scss */
#blog {
  width: 540px;
  float: right;
  padding: 0 20px;
  margin-top: -35px;
  position: relative;
  z-index: 10;
}

/* line 78, global.scss */
#blog-header {
  background: no-repeat url(img/header-blog.png);
  width: 580px;
  height: 64px;
  padding-top: 50px;
}

/* line 84, global.scss */
#blog-header-text {
  color: #333;
  margin-left: 135px;
  font-size: 25px;
}

/* line 89, global.scss */
#header {
  position: relative;
  margin: 0 auto;
}

/* line 94, global.scss */
#header-mask {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -100000px;
  background: url(img/mask.png);
  margin: 0;
  padding: 0;
  pointer-events: none;
}

/* line 105, global.scss */
.header-banner {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 109, global.scss */
.header-banner > div {
  position: absolute;
  left: 300px;
  top: 150px;
  width: 600px;
}
/* line 114, global.scss */
.header-banner > div > h2 {
  font-size: 40px;
}
/* line 116, global.scss */
.header-banner > div > h2 > .subpart {
  font-size: 30px;
}
/* line 121, global.scss */
.header-banner > .banner-image {
  position: absolute;
  top: 100px;
  left: 20px;
}

/* line 127, global.scss */
#header-nav {
  z-index: 11;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 20px 15px 0 0;
}
/* line 133, global.scss */
#header-nav > a {
  color: #666;
  font-variant: small-caps;
  font-size: 1.2em;
  border-left: dotted 1px #666;
  padding-left: 6px;
  margin-left: 2px;
}
/* line 140, global.scss */
#header-nav > a.last {
  border-left: none;
}

/* line 146, global.scss */
#banner_2 {
  background: url(img/pattern2-0.jpg);
  color: #BBD14F;
  text-shadow: 1px 1px 3px #5C115C;
}
/* line 149, global.scss */
#banner_2 a {
  color: #BBD14F;
  border-bottom: 1px dotted #BBD14F;
}
/* line 153, global.scss */
#banner_2 > .banner-image {
  left: 60px;
  top: 120px;
}
/* line 157, global.scss */
#banner_2 > .textcontent {
  top: 160px;
}

/* line 162, global.scss */
#banner_3 {
  background: url(img/pattern3-1.jpg);
  color: #FDB907;
  text-shadow: 1px 1px 3px #FD3A07;
}

/* line 167, global.scss */
#banner_4 {
  background: url(img/pattern4-1.jpg);
  color: #45599b;
  text-shadow: 1px 1px 3px #fff;
}
/* line 171, global.scss */
#banner_4 h2 {
  width: 500px;
}
/* line 173, global.scss */
#banner_4 h2 > a {
  color: #45599B;
  border-bottom: 1px dotted #45599B;
}
/* line 178, global.scss */
#banner_4 > .banner-image {
  left: 10px;
  top: 60px;
}

/* line 183, global.scss */
#banner_5 {
  background: url(img/pattern5-0.jpg);
  color: #CAC69B;
  text-shadow: 1px 1px 3px #000;
}
/* line 187, global.scss */
#banner_5 a {
  color: #866785;
}
/* line 190, global.scss */
#banner_5 > .textcontent {
  left: 10px;
  width: 940px;
  text-align: center;
  top: 190px;
}

/* line 197, global.scss */
#banner_7 {
  background: url(img/pattern8-0.jpg);
  color: #ccc;
  text-shadow: 1px 1px 3px #666;
}
/* line 200, global.scss */
#banner_7 p {
  line-height: 1.4em;
  word-spacing: 5px;
}
/* line 203, global.scss */
#banner_7 p > a {
  color: #ccc;
  border-bottom: 1px dotted #ccc;
}
/* line 209, global.scss */
#banner_7 > .banner-image {
  left: 50px;
  top: 130px;
}

/* line 214, global.scss */
#banner_8 {
  background: url(img/pattern15.jpg);
  color: #140005;
  text-shadow: 0px 0px 1px #fff;
}
/* line 218, global.scss */
#banner_8 a {
  color: #140005;
  border-bottom: 1px dotted #140005;
}
/* line 222, global.scss */
#banner_8 > .banner-image {
  left: 70px;
  top: 100px;
}
/* line 226, global.scss */
#banner_8 > .textcontent {
  top: 170px;
}

/* line 230, global.scss */
#banner_9 {
  background: url(img/pattern14.jpg);
  color: #206f8b;
  text-shadow: 0px 0px 1px #fff;
}
/* line 233, global.scss */
#banner_9 a {
  color: #206f8b;
  border-bottom: 1px dotted #206f8b;
}
/* line 238, global.scss */
#banner_9 > .textcontent {
  left: 10px;
  width: 940px;
  text-align: center;
  top: 170px;
}

/* line 245, global.scss */
#banner_10 {
  background-color: #520039;
  color: #350025;
}
/* line 248, global.scss */
#banner_10 > .textcontent {
  z-index: 12;
  color: #BF9D3E;
}
/* line 251, global.scss */
#banner_10 > .textcontent h2 {
  text-shadow: 0px 0px 1px #ccc;
}
/* line 255, global.scss */
#banner_10 > img {
  z-index: 12;
}
/* line 258, global.scss */
#banner_10 > .banner-image {
  left: 70px;
  top: 100px;
}

/* line 263, global.scss */
#banner_10_inner {
  overflow: hidden;
  line-height: 1.2em;
  font-size: 17px;
  padding: 10px;
  word-wrap: break-word;
  height: 414px;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 940px;
}

/* line 277, global.scss */
.tweet {
  padding: 10px 10px 10px 20px;
  font-size: 12px;
  margin-bottom: 10px;
  background: #DAF0FF;
  background: -moz-linear-gradient(#dff2ff, #caeaff);
  color: #666;
}
/* line 284, global.scss */
.tweet a {
  color: #333;
}

/* line 288, global.scss */
.tweetbird {
  margin-left: -40px;
  float: left;
}

/* line 293, global.scss */
.blogtitle {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
/* line 302, global.scss */
.blogtitle a {
  color: #eb9272;
}

/* line 306, global.scss */
.blogtxt {
  color: #666;
  line-height: 1.2em;
}

/* line 311, global.scss */
#tweets {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* line 317, global.scss */
#otherprofiles {
  text-transform: uppercase;
  padding: 0 0 0 10px;
  font-weight: bold;
  line-height: 1.3em;
}
/* line 322, global.scss */
#otherprofiles .mail {
  color: #FFC448;
}
/* line 323, global.scss */
#otherprofiles .last {
  color: #D71102;
}
/* line 324, global.scss */
#otherprofiles .face {
  color: #3B5998;
}
/* line 325, global.scss */
#otherprofiles .tuen {
  color: #96D4F3;
}
/* line 326, global.scss */
#otherprofiles .twit {
  color: #53D4FF;
}
/* line 327, global.scss */
#otherprofiles .blog {
  color: #ADD064;
}
/* line 328, global.scss */
#otherprofiles .redd {
  color: #FF5719;
}
/* line 329, global.scss */
#otherprofiles .dias {
  color: #2B2B2B;
}
/* line 330, global.scss */
#otherprofiles:hover {
  color: #999;
}
/* line 339, global.scss */
#otherprofiles:hover .mail,
#otherprofiles:hover .last,
#otherprofiles:hover .face,
#otherprofiles:hover .tuen,
#otherprofiles:hover .twit,
#otherprofiles:hover .blog,
#otherprofiles:hover .redd,
#otherprofiles:hover .dias {
  color: #ccc;
}
/* line 343, global.scss */
#otherprofiles .mail:hover {
  color: #fff;
  background-color: #FFC448;
}
/* line 344, global.scss */
#otherprofiles .last:hover {
  color: #fff;
  background-color: #D71102;
}
/* line 345, global.scss */
#otherprofiles .face:hover {
  color: #fff;
  background-color: #3B5998;
}
/* line 346, global.scss */
#otherprofiles .tuen:hover {
  color: #fff;
  background-color: #96D4F3;
}
/* line 347, global.scss */
#otherprofiles .twit:hover {
  color: #fff;
  background-color: #53D4FF;
}
/* line 348, global.scss */
#otherprofiles .blog:hover {
  color: #fff;
  background-color: #ADD064;
}
/* line 349, global.scss */
#otherprofiles .redd:hover {
  color: #fff;
  background-color: #FF5719;
}
/* line 350, global.scss */
#otherprofiles .dias:hover {
  color: #fff;
  background-color: #2B2B2B;
}
